.editor__header {
	color: #fff;
	font-size: 20px;
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	height: 45px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.icon_cre {
	position: relative;
	top: 3px;
}

.icon_del {
	position: relative;
	top: 2px;
}
